/* width */
::-webkit-scrollbar {
width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
box-shadow: inset 0 0 5px grey;
border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
background: gray;
border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: gray;
}
#sidebar__list li:not(:first-child):hover {
border-left: 4px solid rgba(59, 130, 246);
background: linear-gradient(0deg, #dbeafe 0, #f6f6f6 90%); /* W3C */
}
#sidebar__list li:not(:first-child):hover svg {
fill: rgba(59, 130, 246);
}
#sidebar__list li:not(:first-child):active {
border-left: 4px solid rgba(59, 130, 246);
background: linear-gradient(0deg, #dbeafe 0, #f6f6f6 90%); /* W3C */
}
#form__title::before{
    position: absolute;
    content: '';
    width: 25%;
    height: 1px;
    background-color: #94a3b8;
    right: 12%;
    top: 50%;

}
#form__title::after{
    position: absolute;
    content: '';
    width: 25%;
    height: 1px;
    background-color: #94a3b8;
    left: 12%;
    top: 50%;

}
